<!-- Main content -->
<div class="content-wrapper">
    <!-- @@include('../../global/header/page-header.html', {
  "breadcrumb": {
  "item1": "Home",
  "activeItem": "Danh sách đơn vị"

  }
  }) -->
    <!-- Content area -->
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
                <h5 class="big-title mb-0">DANH SÁCH THÔNG TƯ</h5>
                <a href="./create.html"
                    class="btn btn-link btn bg-primary-color font-size-sm font-weight-semibold text-default">
                    <i class="icon-plus3 mr-1"></i>
                    <span>Tạo mới</span>
                </a>
            </div>
            <div class="card-body card-body-content table-content">
                <!-- Dashboard content -->

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm theo số thông tư, tên thông tư">
                        <span class="input-group-prepend icon-picker">
                            <span class="input-group-text"><i class="icon-search4"></i></span>
                        </span>
                    </div>
                </div>

                <table class="table table-custom" width="100%">
                    <thead>
                        <tr>
                            <th class="text-500" style="width: 100px">STT</th>
                            <th class="text-500">Số thông tư</th>
                            <th class="text-500">Tên thông tư</th>
                            <th class="text-500">Ngày ban hành </th>
                            <th class="text-500 text-center" style="width: 150px">Thao tác</th>
                            <th class="never d-none">Custom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text">01</td>
                            <td class="text">2009/TTLT/BQP-BVHTTDT</td>
                            <td class="text">Thông tư hướng dẫn xếp loại thử lực</td>
                            <td class="text">22/06/2009</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <a href="#detail.html" class="text-black text ml-2">
                                        <i class="icon-calendar" data-popup="tooltip" title="Chi tiết"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                        </tr>

                        <tr>
                            <td class="text">02</td>
                            <td class="text">2009/TTLT/BQP-BVHTTDT</td>
                            <td class="text">Thông tư hướng dẫn xếp loại thử lực</td>
                            <td class="text">22/06/2009</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <a href="#detail.html" class="text-black text ml-2">
                                        <i class="icon-calendar" data-popup="tooltip" title="Chi tiết"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                        </tr>

                        <tr>
                            <td class="text">03</td>
                            <td class="text">2009/TTLT/BQP-BVHTTDT</td>
                            <td class="text">Thông tư hướng dẫn xếp loại thử lực</td>
                            <td class="text">22/06/2009</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <a href="#detail.html" class="text-black text ml-2">
                                        <i class="icon-calendar" data-popup="tooltip" title="Chi tiết"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                        </tr>

                        <tr>
                            <td class="text">04</td>
                            <td class="text">2009/TTLT/BQP-BVHTTDT</td>
                            <td class="text">Thông tư hướng dẫn xếp loại thử lực</td>
                            <td class="text">22/06/2009</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <a href="#detail.html" class="text-black text ml-2">
                                        <i class="icon-calendar" data-popup="tooltip" title="Chi tiết"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                        </tr>

                        <tr>
                            <td class="text">05</td>
                            <td class="text">2009/TTLT/BQP-BVHTTDT</td>
                            <td class="text">Thông tư hướng dẫn xếp loại thử lực</td>
                            <td class="text">22/06/2009</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <a href="#detail.html" class="text-black text ml-2">
                                        <i class="icon-calendar" data-popup="tooltip" title="Chi tiết"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                        </tr>

                    </tbody>
                </table>
                <!-- /dashboard content -->
            </div>
        </div>

    </div>
    <!-- /content area -->

