<!-- Main content -->
<div class="content-wrapper">
    <!-- @@include('../../global/header/page-header.html', {
  "breadcrumb": {
  "item1": "Home",
  "activeItem": "Danh sách đơn vị"

  }
  }) -->
    <!-- Content area -->
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
                <h5 class="big-title mb-0">DANH SÁCH ĐƠN VỊ TÍNH</h5>
                <a href="./create.html"
                    class="btn btn-link btn bg-primary-color font-size-sm font-weight-semibold text-default">
                    <i class="icon-plus3 mr-1"></i>
                    <span>Tạo mới</span>
                </a>
            </div>
            <div class="card-body card-body-content table-content">
                <!-- Dashboard content -->

                <table class="table table-custom" width="100%">
                    <thead>
                        <tr>
                            <th class="text-500" style="width: 100px">STT</th>
                            <th class="text-500">Tên đơn vị tính</th>
                            <th class="text-500">Tên viết tắt </th>
                            <th class="text-500 text-center" style="width: 150px">Thao tác</th>
                            <th class="never d-none">Custom</th>
                            <th class="never d-none">Custom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text">01</td>
                            <td class="text">Mét</td>
                            <td class="text">m</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                            <td class="d-none"></td>
                        </tr>
                        <tr>
                            <td class="text">02</td>
                            <td class="text">Cái</td>
                            <td class="text">c</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                            <td class="d-none"></td>
                        </tr>
                        <tr>
                            <td class="text">03</td>
                            <td class="text">Lần</td>
                            <td class="text">l</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>

                                </div>
                            </td>
                            <td class="d-none"></td>
                            <td class="d-none"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /dashboard content -->
            </div>
        </div>

    </div>
    <!-- /content area -->