<!-- Main content -->
<div class="content-wrapper">
    <!-- @@include('../../global/header/page-header.html', {
  "breadcrumb": {
  "item1": "Home",
  "activeItem": "Danh sách đơn vị"

  }
  }) -->
    <!-- Content area -->
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
                <h5 class="big-title mb-0 text-uppercase">Danh sách kế hoạch</h5>
                <div class="list-icons">
                    <a href="./create.html" class="btn btn-link bg-primary-color">
                        <i class="icon-plus3 mr-1"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>
            </div>
            <div class="card-body card-body-content table-content">
                <!-- Dashboard content -->

                <div class="form-group row mb-3">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                placeholder="Tìm kiếm theo số kế hoạch, tên kế hoạch ">
                            <span class=" input-group-prepend icon-picker">
                                <span class="input-group-text"><i class="icon-search4"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <select class="form-control sel_2" data-placeholder="Chọn đơn vị...">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <select class="form-control" data-placeholder="Chọn đơn vị ban hành..." data-fouc>
                                <option></option>
                                <optgroup label="Chọn đơn vị ban hành">
                                    <option value="AL">Thủ trưởng Bộ Tư Lệnh </option>
                                    <option value="AR">Bộ tham mưu</option>
                                    <option value="KS">Lữ đoàn 596 </option>
                                    <option value="KY">Lữ đoàn 205</option>
                                    <option value="SQTT">Trường Sĩ quan Thông tin</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <div class="list-icons">
                                <button
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-filter3"></i>
                                </button>
                                <button
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-eraser2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom" width="100%">
                        <thead>
                            <tr>
                                <th class="text-500 text-center" style="width: 50px">STT</th>
                                <th class="text-500" style="width: 100px">Số KH</th>
                                <th class="text-500" style="width: 250px">Tên kế hoạch</th>
                                <th class="text-500" style="width: 150px">Đơn vị ban hành</th>
                                <th class="text-500" style="width: 180px">Thời gian ban hành</th>
                                <th class="text-500">Trạng thái</th>
                                <th class="text-500 text-center">Thao tác </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr><tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-success">
                                        Đã hoàn thành
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-warning">
                                        Đang thực hiện
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td class="text">1</td>
                                <td class="text">HLTL1</td>
                                <td class="text">Huấn luyện thể lực đợt 1 2020</td>
                                <td class="text">Tiểu đoàn 30</td>
                                <td class="text ">30/01/2021 </td>
                                <td class="text">
                                    <span class="badge badge-warning">
                                        Đang thực hiện
                                    </span>
                                </td>
                                <td class="text text-center">
                                    <div class="list-icons">
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                        </a>
                                        <a href="./update.html" class="text-black text ml-2">
                                            <i class="far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                        </a>
                                        <a href="#" class="text-danger text ml-2">
                                            <i class="far fa-trash-alt sweet_delete" data-popup="tooltip"
                                                title="Xóa"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- /dashboard content -->
            </div>
        </div>

    </div>
    <!-- /content area -->