<!-- Main content -->
<div class="content-wrapper">
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center">
                <h5 class="big-title mb-0">TẠO MỚI ĐƠN VỊ</h5>
            </div>
            <div class="card-body card-body-content add-unit" id="add-unit">
                <div class="row">
                    <div class="col-xl-8 m-auto p-3">
                        <form #unitCreateForm="ngForm" (ngSubmit)="onCreateUnit(unitCreateForm)">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Đơn vị cấp trên <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <nz-tree-select style="width: 100%" nzPlaceHolder="Chọn đơn vị" 
                                        [nzExpandedKeys]="expandKeys" [nzNodes]="nodes" [(ngModel)]="parentunit" #uparentunit="ngModel" name="parentunit" (ngModelChange)="onChange($event)">
                                    </nz-tree-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Tên đơn vị <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" #utitle="ngModel" [(ngModel)]="unit.title" required name="title"
                                        class="form-control mb-2" placeholder="Nhập tên đơn vị" pattern="^(?!\s*$).+">
                                    <div *ngIf="utitle.invalid && unitCreateForm.submitted" [ngClass]="'error'"
                                        class="ml-2 text-danger">
                                        Chưa nhập tên đơn vị!
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Ký hiệu <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" #pslash="ngModel" [(ngModel)]="unit.slash" required name="slash"
                                        class="form-control mb-2" placeholder="Nhập ký hiệu" pattern="^(?!\s*$).+">
                                    <div *ngIf="pslash.invalid && unitCreateForm.submitted" class="ml-2 text-danger">
                                        Chưa nhập ký hiệu!
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center align-items-center btn-group-content">
                                <a routerLink="/unit-manager" type="button"
                                    class="btn btn-light legitRipple">Hủy</a>
                                <button type="submit" class="btn bg-primary-color ml-1" [disabled]="disableSunmit == true">
                                    Tạo mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>