<!-- Main content -->
<div class="content-wrapper">
    <!-- @@include('../../global/header/page-header.html', {
  "breadcrumb": {
  "item1": "Home",
  "activeItem": "Danh sách đơn vị"

  }
  }) -->
    <!-- Content area -->
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
                <h5 class="big-title mb-0 text-uppercase">Danh sách quân nhân</h5>
                <div class="list-icons">
                    <a href="./create.html"
                        class="btn btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                        <i class="icon-file-download mr-1"></i>
                        <span>Nhập danh sách</span>
                    </a>
                    <a href="./create.html"
                        class="btn btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                        <i class="icon-file-upload mr-1"></i>
                        <span>Xuất danh sách</span>
                    </a>
                    <a href="./create.html" class="btn btn-link btn bg-primary-color">
                        <i class="icon-plus3 mr-1"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>
            </div>
            <div class="card-body card-body-content table-content">
                <!-- Dashboard content -->

                <div class="form-group row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm theo mã, họ và tên ">
                            <span class=" input-group-prepend icon-picker">
                                <span class="input-group-text"><i class="icon-search4"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <select class="form-control sel_2" data-placeholder="Chọn đơn vị...">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <select class="form-control" data-placeholder="Chọn đơn vị ban hành..." data-fouc>
                                <option></option>
                                <optgroup label="Chọn đơn vị ban hành">
                                    <option value="AL">Thủ trưởng Bộ Tư Lệnh </option>
                                    <option value="AR">Bộ tham mưu</option>
                                    <option value="KS">Lữ đoàn 596 </option>
                                    <option value="KY">Lữ đoàn 205</option>
                                    <option value="SQTT">Trường Sĩ quan Thông tin</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <div class="list-icons">
                                <button
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-filter3"></i>
                                </button>
                                <button
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-eraser2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-custom" width="100%">
                    <thead>
                        <tr>
                            <th class="text-500">Mã quân nhân</th>
                            <th class="text-500">Họ và tên</th>
                            <th class="text-500">Ngày sinh</th>
                            <th class="text-500">Đối tượng</th>
                            <th class="text-500">Chức vụ </th>
                            <th class="text-500 text-center" style="width: 150px">Thao tác </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Nguyễn Lê Đông Sơn</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Phạm Nhật My</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Dương Tuấn Phong</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Lê Quốc Việt</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Phạm Kim Tâm</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Lê Huỳnh Minh Hiệp</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Lê Hoài</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Nguyễn Thanh Trúc</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Nguyễn Đức Hậu</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="text">QN.0001</td>
                            <td class="text">Nguyễn Đăng Khoa</td>
                            <td class="text">02/09/1994</td>
                            <td class="text">Sĩ quan </td>
                            <td class="text">Trung đội trưởng </td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a href="./update.html" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a href="#" class="text-danger text ml-2">
                                        <i class="far fa-trash-alt sweet_delete" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>


                    </tbody>
                </table>
                <!-- /dashboard content -->
            </div>
        </div>

    </div>
    <!-- /content area -->

