<!-- Main sidebar -->
<div class="sidebar sidebar-light sidebar-main sidebar-expand-md fixed-nav-menu">
    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a routerLink="/" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        <span class="font-weight-semibold">Navigation</span>
        <a routerLink="/" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>

    <div class="sidebar-content">
        <div class="sidebar-user-material">
        </div>
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                <li class="nav-item" *ngFor="let item of menuList" [ngClass]="{'nav-item-submenu' : item.child}">
                    <!-- Tranh trung active menu khi path = null -->
                    <a *ngIf="item.path && item.path !== ''" routerLink="/{{item.path}}" class="nav-link "
                        [ngClass]="{'active' : item.path === activePath && activePath !== null}"
                        (click)="setActiveMenu(item.path)">
                        <i class={{item.icon}}></i>
                        <span> {{item.name}} </span>
                    </a>
                    <a *ngIf="item.path == null" class="nav-link "
                        [ngClass]="{'active' : item.path === activePath && activePath !== null}">
                        <i class={{item.icon}}></i>
                        <span> {{item.name}} </span>
                    </a>
                    
                    <ul class="nav nav-group-sub" data-submenu-title="" *ngIf="item.child">
                        <li class="nav-item" *ngFor="let childItem of item.child">
                            <a routerLink="/{{childItem.path}}" class="nav-link"
                                [ngClass]="{'active' : childItem.path === activePath && activePath !== null}"
                                (click)="setActiveMenu(childItem.path)">{{childItem.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>