<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static fixed-header">
    <div class="">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
            <i class="icon-paragraph-justify3"></i>
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>


    <div class="collapse navbar-collapse" id="navbar-mobile">
        <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul> -->

        <span class="navbar-text m-auto">
            <a routerLink="dashboard"> PHẦN MỀM QUẢN LÝ KẾT QUẢ KIỂM TRA THỂ LỰC</a>
        </span>

        <ul class="navbar-nav">

            <div class="collapse navbar-collapse" id="navbar-mobile">

                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item dropdown dropdown-user">
                        <a class="navbar-nav-link d-flex align-items-center dropdown-toggle legitRipple"
                            data-toggle="dropdown" aria-expanded="false">
                            <span><strong>{{user.name}}</strong></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a [routerLink]="['/account-manager/details/', user.id]" class="dropdown-item">Thông tin tài khoản</a>
                            <div class="dropdown-divider opacity-75"></div>
                            <a routerLink="login" (click)="logOut()"
                                class="dropdown-item text-danger">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>

        </ul>
    </div>
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">