<!-- Main content -->
<div class="content-wrapper">
  <!-- @@include('../../global/header/page-header.html', {
  "breadcrumb": {
  "item1": "Home",
  "activeItem": "Danh sách đơn vị"

  }
  }) -->
  <!-- Content area -->
  <div class="content">
    <div class="card">
      <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
        <h5 class="big-title mb-0">DANH SÁCH ĐƠN VỊ</h5>
        <a href="./create.html"
          class="btn btn-link btn bg-primary-color font-size-sm font-weight-semibold text-default">
          <i class="icon-plus3 mr-1"></i>
          <span>Tạo mới</span>
        </a>
      </div>
      <div class="card-body card-body-content unit-list" id="unitList">
        <!-- Dashboard content -->
        <div class="row">
          <div class="col-xl-12">
            <div id="root"></div>
            <!-- /collapsible group -->
          </div>
        </div>
        <!-- /dashboard content -->
      </div>
    </div>

  </div>
  <!-- /content area -->
