<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm   " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-5x fa-exclamation-circle m-auto" style="color: rgb(252, 167, 87);"
                    aria-hidden="true"></i>
            </div>
            <div class="modal-body text-center">
                Bạn có chắc muốn xóa nội dung này?
                <br><br>
            </div>
            <div class="modal-footer m-auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmDelete()">Đồng
                    ý</button>
            </div>
        </div>
    </div>
</div>