<div class="content-wrapper">
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center">
                <h5 class="big-title mb-0">SỬA QUÂN NHÂN</h5>
            </div>
            <div class="card-body card-body-content add-unit" id="add-unit">
                <div class="row">
                    <div class="col-xl-12">
                        <form #soldierUpdateForm="ngForm" (ngSubmit)="onUpdateSoldier(soldierUpdateForm)">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Tên quân nhân <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" required name="name" #snamne="ngModel" [(ngModel)]="soldier.name"
                                        class="form-control mb-2" placeholder="Nhập tên quân nhân"
                                        pattern="^(?!\s*$).+">
                                    <div *ngIf="snamne.invalid && soldierUpdateForm.submitted" [ngClass]="'error'"
                                        class="ml-2 text-danger">
                                        Chưa nhập tên quân nhân!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Mã quân nhân <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" required name="identitynumber" #sidentitynumber="ngModel"
                                        [(ngModel)]="soldier.identitynumber" class="form-control mb-2"
                                        placeholder="Nhập mã quân nhân" pattern="^(?!\s*$).+">
                                    <div *ngIf="sidentitynumber.invalid && soldierUpdateForm.submitted"
                                        class="ml-2 text-danger">
                                        Chưa nhập mã quân nhân!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">
                                    Giới tính
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <div class="custom-control custom-radio custom-control-inline align-items-center">
                                        <input type="radio" class="custom-control-input" value="Nam" name="gender"
                                            [(ngModel)]="soldier.gender" required #gender="ngModel"
                                            id="custom_radio_inline_male">
                                        <label class="custom-control-label" for="custom_radio_inline_male">Nam</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline align-items-center">
                                        <input type="radio" class="custom-control-input" value="Nữ" name="gender"
                                            [(ngModel)]="soldier.gender" required #gender="ngModel"
                                            id="custom_radio_inline_female">
                                        <label class="custom-control-label" for="custom_radio_inline_female">Nữ</label>
                                    </div>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Ngày sinh <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="date" name="birthday" #sbirthday="ngModel"
                                        [(ngModel)]="soldier.birthday" class="form-control mb-2 datepicker-from"
                                        placeholder="Chọn ngày sinh" pattern="^(?!\s*$).+">
                                    <div *ngIf="sbirthday.invalid && soldierUpdateForm.submitted"
                                        class="ml-2 text-danger">
                                        Chưa chọn ngày sinh!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Ngày nhập ngũ <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="date" name="timestart" #stimestart="ngModel"
                                        [(ngModel)]="soldier.timestart" class="form-control mb-2 datepicker-from"
                                        placeholder="Chọn ngày nhập ngũ" pattern="^(?!\s*$).+">
                                    <div *ngIf="stimestart.invalid && soldierUpdateForm.submitted"
                                        class="ml-2 text-danger">
                                        Chưa chọn ngày nhập ngũ!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Cấp bậc <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <select name="rank" class="form-control mb-2" #srank="ngModel"
                                        [(ngModel)]="soldier.rank" required>
                                        <option value="1">Chọn cấp bậc</option>
                                        <option *ngFor="let rank of ranks" [ngValue]="rank.name">{{rank.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="srank.invalid && soldierUpdateForm.submitted" class="ml-2 text-danger">
                                        Chưa chọn cấp bậc!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Chức vụ <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <select name="job" class="form-control mb-2" #sjob="ngModel"
                                        [(ngModel)]="soldier.job" required>
                                        <option value="1">Chọn chức vụ</option>
                                        <option *ngFor="let job of jobs" [ngValue]="job.name">{{job.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="sjob.invalid && soldierUpdateForm.submitted" class="ml-2 text-danger">
                                        Chưa chọn chức vụ!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Đơn vị <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <nz-tree-select style="width: 100%" nzPlaceHolder="Chọn đơn vị"
                                        [nzExpandedKeys]="expandKeys" [nzNodes]="nodes" [(ngModel)]="soldier.unitId"
                                        #sunit="ngModel" name="unit" (ngModelChange)="onChange($event)">
                                    </nz-tree-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 text-500">Đối tượng <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <select name="participant" class="form-control mb-2" #sparticipant="ngModel"
                                        [(ngModel)]="soldier.participant" required>
                                        <option value="1">Chọn đối tượng</option>
                                        <option *ngFor="let participant of participants" [ngValue]="participant.name">
                                            {{participant.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="sparticipant.invalid && soldierUpdateForm.submitted"
                                        class="ml-2 text-danger">
                                        Chưa chọn đối tượng!
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center align-items-center btn-group-content">
                                <a routerLink="/soldier-manager" type="button" class="btn btn-light">Hủy</a>
                                <button type="submit" class="btn bg-primary-color ml-1" *ngIf="userRole == 'admin' || userRole == 'assistant'">
                                    Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>