@charset "UTF-8";
/* cyrillic-ext */

/* ng-zorro-antd */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
/* @import "~ng-zorro-antd/button/style/index.min.css";  Import one component's styles */

@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Roboto-Thinttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Roboto-Lightttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
}

.s2-to-tree * {
    box-sizing: border-box;
}

.s2-to-tree .select2-results__option.l1 {
    margin-left: 0.6em;
    font-size: 1em;
}

.s2-to-tree .select2-results__option.l2 {
    margin-left: 1.4em;
    font-size: 0.95em;
}

.s2-to-tree .select2-results__option.l3 {
    margin-left: 2.2em;
    font-size: 0.91em;
}

.s2-to-tree .select2-results__option.l4 {
    margin-left: 3.0em;
    font-size: 0.87em;
}

.s2-to-tree .select2-results__option.l5 {
    margin-left: 3.8em;
    font-size: 0.83em;
}

.s2-to-tree .select2-results__option.l6 {
    margin-left: 4.5em;
    font-size: 0.8em;
}

.s2-to-tree .select2-results__option.l7 {
    margin-left: 5.3em;
    font-size: 0.77em;
}

.s2-to-tree .select2-results__option.l8 {
    margin-left: 6.0em;
    font-size: 0.75em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l1 {
    margin-right: 0.6em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l2 {
    margin-right: 1.4em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l3 {
    margin-right: 2.2em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l4 {
    margin-right: 3.0em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l5 {
    margin-right: 3.8em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l6 {
    margin-right: 4.5em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l7 {
    margin-right: 5.3em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l8 {
    margin-right: 6.0em;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:hover {
    color: red;
    cursor: pointer;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:before {
    /* no :: in IE8 */
    content: "+";
    position: absolute;
    left: -0.35em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] li.select2-results__option.non-leaf .expand-collapse:before {
    right: -0.35em;
}

.s2-to-tree li.select2-results__option.non-leaf.opened .expand-collapse:before {
    content: "−";
}

.s2-to-tree .select2-results__option[aria-disabled="true"] .expand-collapse {
    color: black;
}

.s2-to-tree .item-label {
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.5em;
    width: calc(100% - 11px);
    /* IE8 will fit the content */
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .item-label {
    margin-right: 0.5em;
}

.s2-to-tree li.select2-results__option {
    position: relative;
    padding: 0px;
    height: auto;
    overflow-y: hidden;
}

.s2-to-tree li.select2-results__option[data-pup] {
    display: none;
}

.s2-to-tree li.select2-results__option[data-pup].showme {
    display: block;
    overflow-y: visible;
}

.s2-to-tree.select2-container .select2-results__option--highlighted[aria-selected]>span.item-label {
    background-color: #5897fb;
    color: white;
}

.s2-to-tree.select2-container li.select2-results__option[aria-selected="true"]>span.item-label {
    background-color: #26A69A;
}

.s2-to-tree.select2-container li.select2-results__option--highlighted[aria-selected], .s2-to-tree.select2-container li.select2-results__option[aria-selected="true"] {
    background-color: inherit;
    color: inherit;
}

.s2-to-tree li.select2-results__option.l1 {
    display: block;
    overflow-y: visible;
}

.s2-to-tree.searching-result li.select2-results__option {
    height: auto;
    display: block;
}

.s2-to-tree .select2-results>.select2-results__options {
    padding-left: 1.25rem;
}

:root {
    --white: #fff;
    --black: #000;
    --primary: #3F51B5;
    --primary-dark: #444444;
    --primary-yellow: #ffe600;
    --btn-orange: #f37636;
    --gray: #555555;
    --light-black: #333;
    --dark-gray: #212121;
    --bright-gray: #f6f6f6;
    --light-gray: #eaeef2;
    --lighter-gray: #f5f5f7;
    --bg-nav-sticky: #fff;
    --box-shadow-color: rgba(32, 40, 49, 0.08);
    --placeholder-color: #737d89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    font-style: normal;
    overflow-x: hidden;
}

.bg-primary-color {
    background-color: #3F51B5;
}
.bg-secondary-color {
    background-color: #09ca6a;
}

.bg-primary-color:hover {
    background-color: darkblue;
}

.btn {
    padding: .25rem 1rem;
}

.btn-default {
    min-width: auto;
}

.btn-light {
    border: 1px solid rgba(51, 51, 51, 0.5);
}

.btn-light-white {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #333;
}

.btn-light-white:hover {
    color: #3F51B5;
    border: none;
}

.text-default {
    color: var(--black);
}

.big-title {
    font-family: 'Roboto-Black';
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
}

.text-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    font-style: normal;
}

.text-semi-bold {
    font-family: 'Roboto-Black';
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    font-style: normal;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    font-style: normal;
    color: #000;
}

.text-500 {
    font-family: 'Roboto-Black';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
}

.text-black {
    color: #000;
}

.bg-lightblue {
    background-color: #E2F4FC;
}

.border-none {
    border: none;
}

.boxShadow-none {
    box-shadow: none;
}

.content-wrapper .form-control, .content-wrapper .select2-selection--single {
    border: 1px solid #ced4da;
    border-top-color: #ced4da !important;
    border-radius: 4px !important;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    height: 30px;
}

.content-wrapper .form-control:focus, .content-wrapper .select2-selection--single:focus {
    border-color: #009688 !important;
}

.content-wrapper .form-control:focus+.icon-picker i, .content-wrapper .select2-selection--single:focus+.icon-picker i {
    color: #000;
}

.content-wrapper .form-control:disabled, .content-wrapper .select2-selection--single:disabled {
    background-color: rgba(240, 240, 240, 0.3);
}

.content-wrapper select:disabled+.select2-container--disabled {
    background-color: rgba(240, 240, 240, 0.3);
}

.content-wrapper .form-group {
    margin-bottom: 0.625rem;
}

.content-wrapper .form-group .col-form-label {
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
}

.content-wrapper .select2-selection--single {
    display: flex;
    align-items: center;
}

.content-wrapper .icon-picker {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content-wrapper .icon-picker i {
    color: #ced4da;
    transition: color 0.15s ease-in-out;
}

.content-wrapper .card-header-content.card-header {
    padding: 15px 20px;
    border-bottom: 1px solid #ced4da;
}

.content-wrapper .card-body.card-body-content {
    padding: 20px !important;
}

.content-wrapper .btn-group-content {
    padding-top: 20px;
    margin: 0 -20px;
    margin-top: 1rem;
    border-top: 1px solid #ced4da;
}

.content-wrapper .select2-selection--single .select2-selection__arrow:after {
    right: 10px;
}

.content-wrapper .icon-90deg {
    transform: rotate(90deg);
}

#modal_standard .select2.select2-container.select2-container--default {
    width: 100% !important;
}

.unit-list {
    background-color: #fff;
}

.unit-list .card-group-control-child .card, .unit-list .card-group-control-child .card-group-control .card, .unit-list .card-group-control-child .card-group-control .card-group-control .card, .unit-list .card-group-control-child .card-group-control .card-group-control .card-group-control .card, .unit-list .card-group-control-child .card-group-control .card-group-control .card-group-control .card-group-control .card, .unit-list .card-group-control-child .card-group-control .card-group-control .card-group-control .card-group-control .card-group-control .card {
    padding-left: 1rem;
}

.unit-list .card-group-control.card-hide .card-title>a.collapsed:before, .unit-list .card-group-control-left.card-hide .card-title>a:before {
    content: '\ed5a';
}

.unit-list .card .card-header {
    padding-top: 0.55rem !important;
    padding-bottom: 0.55rem !important;
}

.unit-list .card-body-wrapper {
    padding: 0;
}

.unit-list .card {
    margin-bottom: 0;
    border-top: 1px solid #bfbfbf;
    box-shadow: none;
}

.unit-list .card .card-header:not([class*='bg-']):not([class*='alpha-']) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.unit-list .card .card-body {
    padding: 1rem;
}

.unit-list .card .card-body .wrapper-content {
    padding-left: 1rem;
}

.unit-list .card .card-body .wrapper-content p {
    font-family: 'Roboto-Light';
    margin-bottom: 0;
    font-weight: 300;
}

.unit-list .card .text-default {
    transition: all ease-in-out 0.15s;
}

.unit-list .card a.text-default:focus, .unit-list .card a.text-default:hover {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    color: #000;
}

#main-login {
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    background: url("/images/background.png") center center no-repeat;
}

#main-login #loginForm-wrap {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#main-login #loginForm-wrap #document-content {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#main-login #loginForm-wrap #document-content img.login-img {
    width: 123px;
    height: 134px;
    margin-bottom: 10px;
}

#main-login #loginForm-wrap #document-content .form-group {
    margin-bottom: 1rem;
}

#main-login #loginForm-wrap #document-content .card-body {
    padding: 0;
}

#main-login #loginForm-wrap #document-content .input-group-prepend {
    margin-right: -1px;
}

#main-login #loginForm-wrap #document-content .input-group-prepend .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#main-login #loginForm-wrap #document-content a.modal-footer-backup {
    color: #00285a !important;
}

#main-login #loginForm-wrap #document-content a:hover {
    color: #940c01 !important;
}

#main-login #loginForm-wrap #document-content .form-group.form-check, #main-login #loginForm-wrap #document-content a.modal-footer-backup {
    text-align: left;
    font-size: 12px;
    color: #000;
    line-height: 22px;
    margin-bottom: 1rem;
}

#main-login #loginForm-wrap #document-content .loginForm-title.AllPage-title {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 18px;
    color: #00285a;
    margin-bottom: 15px;
}

#main-login #loginForm-wrap #document-content .button-group-contact.m-bot button {
    padding: 6px 20px !important;
    transition: 0.5s;
}

#main-login #loginForm-wrap #document-content button.btn.btn-info.btnAllGroup.btnSubmit {
    background: #c61c0f;
    border-color: #c61c0f;
}

#main-login #loginForm-wrap #document-content button.btnAllGroup.btnReset {
    background: #fff;
    border-color: #ccc;
}

#main-login #loginForm-wrap #document-content button.btnAllGroup.btnReset:hover {
    color: #000;
    background: #cccccc;
}

#main-login #loginForm-wrap #document-content button.btn.btn-info.btnAllGroup.btnSubmit:hover {
    background: #940c01;
    border-color: #940c01;
}

.swal2-actions {
    display: flex;
    flex-direction: row-reverse;
}

.swal2-actions .swal2-cancel {
    margin-right: 0.625rem;
}

.table-content .dataTables_paginate .paginate_button.current, .table-content .dataTables_paginate .paginate_button.current:focus, .table-content .dataTables_paginate .paginate_button.current:hover {
    background-color: #3F51B5;
}

.table-group-object.table, .table-custom.table {
    border-top: 1px solid #b7b7b7;
}

.table-group-object.table.table-oversize, .table-custom.table.table-oversize {
    width: 120%;
}

.table-group-object.table .custom-width, .table-custom.table .custom-width {
    min-width: 200px;
}

.table-group-object.table .custom-min-width, .table-custom.table .custom-min-width {
    min-width: 150px;
}

.table-group-object.table td, .table-group-object.table th, .table-custom.table td, .table-custom.table th {
    padding: 0.55rem 1.25rem;
}

.customTable .editable.active {
    cursor: pointer;
}

.customTable .editable.active:hover {
    background: #d7e4ef;
    z-index: 999;
}

.customTable td.selected {
    background: #d7e4ef;
    z-index: 999;
}

.customTable td input {
    font-size: 14px;
    background: none;
    outline: none;
    border: 0;
    display: table-cell;
    height: 100%;
    width: 100%;
}

.customTable td input:focus {
    box-shadow: 0 1px 0 steelblue;
    color: steelblue;
}

.customTable ::-moz-selection {
    background: steelblue;
    color: white;
}

.customTable ::selection {
    background: steelblue;
    color: white;
}

.customTable.table td, .customTable.table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.tab-content .nav-tabs .nav-item.show .nav-link, .tab-content .nav-tabs .nav-link.active {
    font-family: 'Roboto-Black';
    font-weight: 500;
    color: #000;
}

.tab-content .nav-tabs-bottom .nav-link.active:before {
    background-color: #3F51B5;
}

.tab-content select, .tab-content .select2 {
    width: 100% !important;
}

.modal select, .modal .select2 {
    width: 100% !important;
}

.modal .modal-footer {
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.card-dashboard {
    position: relative;
    overflow: hidden;
    color: #fff;
}

.card-dashboard .card-body {
    padding: 1rem;
}

.card-dashboard .text-number {
    font-size: 36px;
    line-height: 1;
    width: 130px;
    text-align: center;
}

.card-dashboard .text-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 130px;
    text-align: center;
}

.card-dashboard svg {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 120px;
    height: 85%;
    transform: translateY(-50%);
}

.content-wrapper .form-control, .content-wrapper .select2-selection--single{
    padding: 0.15rem 0.4rem;
}
.table-group-object.table td, .table-group-object.table th, .table-custom.table td, .table-custom.table th{
    padding: 0.25rem 0.25rem;
}