<!-- Main content -->
<div class="content-wrapper">
    <div class="content">
        <div class="card">
            <div class="card-header card-header-content text-center d-flex justify-content-between align-items-center">
                <h5 class="big-title mb-0 text-uppercase">Danh sách quân nhân</h5>
                <div class="list-icons">
                    <a routerLink="" class="btn btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                        <i class="icon-file-download mr-1"></i>
                        <span>Nhập danh sách</span>
                    </a>
                    <a routerLink="" class="btn btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                        <i class="icon-file-upload mr-1"></i>
                        <span>Xuất danh sách</span>
                    </a>
                    <a routerLink="create" class="btn btn-link btn bg-primary-color">
                        <i class="icon-plus3 mr-1"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>
            </div>
            <div class="card-body card-body-content table-content custom-body-70">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Tìm kiếm theo tên, mã quân nhân">
                            <span class=" input-group-prepend icon-picker">
                                <span class="input-group-text"><i class="icon-search4"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <nz-tree-select style="width: 100%" nzPlaceHolder="Chọn đơn vị"
                                [nzExpandedKeys]="expandKeys" [nzNodes]="nodes" [(ngModel)]="unitId" #uunit="ngModel"
                                name="unit">
                            </nz-tree-select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <select class="form-control" data-placeholder="Chọn chức vụ" [(ngModel)]="rank">
                                <option value="0">Chọn chức vụ</option>
                                <option *ngFor="let rank of ranks">{{rank.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <div class="list-icons">
                                <button (click)="fullSearchFunction(searchText, unitId, rank)"
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-filter3"></i>
                                </button>
                                <button (click)="clearSearch()"
                                    class="btn btn-default btn-outline bg-slate-600 text-slate-600 border-slate-600 legitRipple">
                                    <i class="icon-eraser2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-custom" width="100%">
                    <thead>
                        <tr>
                            <th class="text-500" style="width: 15%">Mã quân nhân</th>
                            <th class="text-500" style="width: 20%">Họ và tên</th>
                            <th class="text-500" style="width: 15%">Ngày sinh</th>
                            <th class="text-500" style="width: 15%">Chức vụ </th>
                            <th class="text-500" style="width: 25%">Đơn vị </th>
                            <th class="text-500" style="width: 15%">Đối tượng</th>
                            <th class="text-500 text-center" style="width: 10%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let soldier of soldiers | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                            <td class="text">{{soldier.identitynumber}}</td>
                            <td class="text">{{soldier.name}}</td>
                            <td class="text">{{soldier.birthday}}</td>
                            <td class="text">{{soldier.job}}</td>
                            <td class="text">{{soldier.unit}}</td>
                            <td class="text">{{soldier.rank}}</td>
                            <td class="text text-center">
                                <div class="list-icons">
                                    <a [routerLink]="['details/', soldier.id]" class="text-black text ml-2">
                                        <i class="far fa-eye" data-popup="tooltip" title="Xem"></i>
                                    </a>
                                    <a [routerLink]="['update/', soldier.id]" class="text-black text ml-2">
                                        <i class=" far fa-edit" data-popup="tooltip" title="Sửa"></i>
                                    </a>
                                    <a class="text-danger text ml-2" data-toggle="modal" data-target="#confirmModal"
                                        (click)="getDeleteId(soldier.id)">
                                        <i class="far fa-trash-alt" data-popup="tooltip" title="Xóa"></i>
                                    </a>
                                    <app-confirm-modal [id]="id" [path]="'soldiers'" (fetchData)="fetchData()">
                                    </app-confirm-modal>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                <div> Hiển thị <b>{{itemsPerPage*(currentPage - 1) + 1}}</b> đến <b>{{soldiers.length <
                            itemsPerPage*currentPage ? soldiers.length : itemsPerPage*currentPage}}</b> trên tổng số
                            <b>{{soldiers.length}}</b> kết quả </div>
                <pagination-controls (pageChange)="(currentPage = $event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>